html, body {
  -webkit-overflow-scrolling: touch !important;
  overflow: auto !important;
  height: 100% !important;
}

.drawer {
  overflow-x:hidden; 
  overflow-y:auto
}

.main {
  min-height: calc(100vh - 60px);
  padding-top: 60px;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1025px;
  min-width: 220px;
  margin: 0 auto;
  padding-top: 1rem;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.int {
  height: 46px;
  border: 1px solid rgb(212 212 212/70%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom:10px;
}

.int:focus {
  outline: none;
  border: 1px solid rgb(212 212 212);
  box-shadow: 0px 0px 2px rgb(212 212 212);
}

.btn_primary{
  height: 46px;
  border-radius: 10px;
  padding: 10px;
  margin-left:10px;
  background-color: rgb(212 212 212/35%);
}

input[value='on']::before,
input[value='off']::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

input[value='off']::before{
  background-image: url('img/check-circle.svg');
}

input[value='on']::before{
  background-image: url('img/check-circle-fill.svg');
}

.search_input {
  -webkit-text-fill-color: currentcolor;
}

.message_container::before{
  content: "";
  border: 7px solid transparent;
  border-right: 1em solid rgb(229, 231, 235);
}

.thumbnail::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  content: "";
}

.thumbnail:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

@media (min-width: 480px) {
  .search_result_list {
    margin-top: 1rem;
  }
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem 0 1.5rem 0;
  }

.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  text-decoration: none;
  padding: .2rem .65rem;
}

.pagination .active{
 background-color: #e5e7eb;
 border-radius: 100px;
}

@media (min-width: 480px) {
.item_list{
  grid-template-columns: repeat(auto-fill, minmax(188px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(188px, 1fr);
  overflow-x: auto;
  grid-gap: 2rem 1rem;
  }
}

@media (max-width: 480px) {
  .item_list{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
    overflow-x: auto;
    grid-gap: 2rem 1rem;
    }
  }

p.close {
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

