#container {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  height: 100vh;
  margin: 0 15px;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 980px;
  margin: 0 auto;
}

.int {
  height: 46px;
  border: 1px solid rgb(212 212 212/70%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom:10px;
}

.int:focus {
  outline: none;
  border: 1px solid rgb(212 212 212);
  box-shadow: 0px 0px 2px rgb(212 212 212);
}

.btn_primary{
  height: 46px;
  border-radius: 10px;
  padding: 10px;
  margin-left:10px;
  background-color: rgb(212 212 212/35%);
}

input[value='on']::before,
input[value='off']::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

input[value='off']::before{
  background-image: url('./imgs/check-circle.svg');
}

input[value='on']::before{
  background-image: url('./imgs/check-circle-fill.svg');
}
